Auth Code/app.js
Auth Code/index.html
Auth Code/styles.css
Closures/app.js
Closures/app2.js
Closures/app3.js
Closures/index.html
Closures/styles.css
Image Carousell/app.js
Image Carousell/art1.webp
Image Carousell/art2.jpg
Image Carousell/art3.jpg
Image Carousell/art4.webp
Image Carousell/art5.jpg
Image Carousell/art6.jpg
Image Carousell/art7.jpg
Image Carousell/art8.jpg
Image Carousell/index.html
Image Carousell/styles.css
Image Carousell Temp/app.js
Image Carousell Temp/art1.webp
Image Carousell Temp/art2.jpg
Image Carousell Temp/art3.jpg
Image Carousell Temp/art4.webp
Image Carousell Temp/art5.jpg
Image Carousell Temp/art6.jpg
Image Carousell Temp/art7.jpg
Image Carousell Temp/art8.jpg
Image Carousell Temp/index.html
Image Carousell Temp/styles.css
Modal/app.js
Modal/index.html
Modal/styles.css
Progress Bar/app.js
Progress Bar/appPractice.js
Progress Bar/index.html
Progress Bar/styles.css
Telephone Formatter/app.js
Telephone Formatter/app2.js
Telephone Formatter/appPractice.js
Telephone Formatter/index.html
Telephone Formatter/styles.css
Testing Misc/app.js
Testing Misc/app2.js
Testing Misc/app3.js
Testing Misc/callbacks.js
Testing Misc/index.html
Testing Misc/styles.css
